---
import Section from "@/components/Section.astro";

const { cv, lang } = Astro.props;
const { basics } = cv;
const { summary } = basics;

const title = lang === "es" ? "Sobre mí" : "About";
---

<Section title={title}>
  <p>{summary}</p>
</Section>
